<ion-header>
  <ion-toolbar>
    <ion-title>ServiExpress</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="menuServicios"id="container">
    <ionic-title>
      <div class="menuServicios">
        <h1>Servicios</h1>
      </div>
      <p class="nombreUsuario ">Nombre Usuario</p>
    </ionic-title>
    <div class="opcionesUsuario">
      <div>
        <ion-button color="success" (click)="goToAgendarHora()">Agenda tu hora</ion-button>
      </div>
    </div>
  </div>
</ion-content>
